<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autores</title>
    <link rel="stylesheet" href="../static/autores.css" />
  </head>

  <body>
    <header class="header">
      <div class="contenedor">
        
        <div class="barra">
          <div class="logo">
            <a href="index.html" class="logo-enlace">
              <img src="../static/img/logo_biblioteca.svg" alt="Biblioteca" />
            </a>
          </div>

          <div class="acciones-usuario">
            <img src="../static/img/ion_person-sharp.svg" class="icono-perfil">
            <img src="../static/img/subway_bell.svg" class="icono-notificacion">
            </div>
        </div>

        <nav class="navegacion">
          <div class="menu">
            <a href="index.html">Inicio</a>
            <a href="libros.html">Libros</a>
            <a href="autores.html" class="activo">Autores</a>
            <a href="prestamos.html">Préstamos</a>
            <a href="multas.html">Multas</a>
          </div>
        </nav>

      </div>
    </header>

    <main class="main">
      <section class="contenedor seccion">
        <div class="contenido-principal">
          <h2>Autores</h2>
          <p>Consulta información sobre los autores registrados.</p>
        </div>
        <button class="btn">Añadir autor</button>
      </section>
    </main>
  </body>
</html>
