<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="../static/forgot_password.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h1>Recuperar Contraseña</h1>
        <p
          style="
            color: #7f8c8d;
            font-size: 0.9rem;
            margin-bottom: 20px;
            line-height: 1.4;
          "
        >
          Introduce tu correo electrónico y te enviaremos las instrucciones para
          restablecer tu contraseña.
        </p>

        <form method="POST">
          <input
            type="email"
            name="correo"
            placeholder="Correo Electrónico"
            required
          />
          <button type="submit">Enviar enlace</button>
        </form>

        <div class="links">
          <a href="{{ url_for('login') }}">Volver al login</a>
        </div>
      </div>
    </div>
  </body>
</html>
