<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Préstamos</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

<header class="header">

    <div class="contenedor">

        <div class="barra">

            <div class="logo">
                <a href="index.html">
                    <img src="../static/img/header.jpg" alt="Biblioteca">
                </a>
            </div>

            <nav class="navegacion">

                <h1 class="titulo">Sistema de biblioteca</h1>

                  <div class="menu">
              <a href="index.html">Inicio</a>
              <a href="libros.html">Libros</a>
              <a href="autores.html">Autores</a>
              <a href="prestamos.html">Préstamos</a>
              <a href="multas.html">Multas</a>
              <a href="login.html" style="color: #e74c3c">Salir</a>
            </div>

            </nav>

        </div>

    </div>

</header>

<main class="main">

    <section class="contenedor seccion">

        <div class="contenido-principal">

            <h2>Gestión de préstamos</h2>

            <p>
                Administra préstamos y devoluciones de libros.
            </p>

        </div>

    </section>

</main>

</body>
</html>