<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Recuperar Contraseña</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h1>Recuperar Contraseña</h1>

        <p>Función pendiente para envío de correo.</p>

        <div class="links">
          <a href="{{ url_for('login') }}">Volver</a>
        </div>
      </div>
    </div>
  </body>
</html>
