<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Login Biblioteca</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h1>Biblioteca Virtual</h1>

        <form method="POST">
          <input type="email" name="correo" placeholder="Correo" required />
          <input
            type="password"
            name="password"
            placeholder="Contraseña"
            required
          />
          <button type="submit">Iniciar Sesión</button>
        </form>

        <div class="links">
          <a href="{{ url_for('register') }}">Registrarse</a>
          <a href="{{ url_for('forgot_password') }}">Olvidé mi contraseña</a>
        </div>
      </div>
    </div>
  </body>
</html>
